@import "./variables.scss";
@import "./mixin.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    width: 1512px;
    background: $bg-main;
}

.choose{
    // width: 1512px;
    display: flex;
    flex-direction: column;
   

    .title{
        display: flex;
        justify-content: center;
        @include font ($font-size-l,$font-family-nanum,#232323);
        margin-top: $margin-xxl;
        text-transform: uppercase;
    }

    .groups{
        display: flex;
        justify-content: space-around;
        margin: 122px;
        margin-top: $margin-xl ;

        .group{
            display: flex;

            &__icon{
                @include size (36px,39px);
                margin-right: 26px;
            }

            &-title{
                @include font($font-size-s,$font-family-nanum,$txt-color-main);
                text-transform: uppercase;
            }

            &-text{
                width: 261px;
                @include font($font-size-xs,$font-family-inter,$txt-color-secondary);
                margin-top: $margin-s;
            }
        }
    }
}

.banner{
    width: 1421px;
    margin-left: $margin-xs;
}

.catalog{
    display: flex;
    flex-direction: column;

    &-title{
        display: flex;
        justify-content: center;
        @include font($font-size-l,$font-family-nanum,$txt-color-main);
        margin-top: $margin-xxl;
        text-transform: uppercase;
    }

    .catalog-groups{
        padding: $padding-xl;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }

    &-group{
        display: flex;
        flex-direction: column
    }

    &-img{
        @include size (440px,440px);
    }

    &-name{
        display: flex;
        justify-content: center;
        @include font ($font-size-m,$font-family-nanum,$txt-color-secondary);
        text-transform: uppercase;
        margin-top: $margin-l;
    }
}

.customers{


    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        @include font ($font-size-l,$font-family-nanum,$txt-color-main);
        text-transform: uppercase;
        margin-top: $margin-xxl - 20px;
       
    }

    .customer-wrapper-1{
        @include size (474px,172px);
        border:  1px solid black;
        background: $bg-customers;
        position: relative;
        margin-left:272px ;
        margin-top: 94px;

        .customer{
            display: flex;
            padding: $padding-m;

            &-img{
                @include size(50px,50px);
                margin-right: 14px;
            }

            .name{
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                @include font ($font-size-m,$font-family-nanum,$txt-color-secondary);
            }
        }

        .customer-text{
            padding: 0px 28px;
            @include font ($font-size-xs,$font-family-inter,$txt-color-secondary);
        }
    }

    .customer-wrapper-2{
        @include size (474px,172px);
        border:  1px solid black;
        background: $bg-customers;
        position: relative;
        margin-left: 766px;
        margin-top: -200px;

        .customer{
            display: flex;
            padding: $padding-m;

            &-img{
                @include size(50px,50px);
                margin-right: 14px;
            }

            .name{
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                @include font ($font-size-m,$font-family-nanum,$txt-color-secondary);
            }
        }

        .customer-text{
            padding: 0px 28px;
            @include font ($font-size-xs,$font-family-inter,$txt-color-secondary);
        }
    }

    .customer-wrapper-3{
        @include size (474px,172px);
        border:  1px solid black;
        margin-left: 480px;

        .customer{
            display: flex;
            padding: $padding-m;

            &-img{
                @include size(50px,50px);
                margin-right: 14px;
            }

            .name{
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                @include font ($font-size-m,$font-family-nanum,$txt-color-secondary);
            }
        }

        .customer-text{
            padding: 0px 28px;
            @include font ($font-size-xs,$font-family-inter,$txt-color-secondary);
        }
    }

    .button-wrapper{
        display: flex;
        justify-content: end;
        margin-right: $margin-xxl;
        margin-bottom: 50px;

        .button{
            display: flex;
            align-items: center;
            border: none;
            @include size (44px,22px);
            margin-right: 12px;
            padding: 11,23px;
            @include font ($font-size-s,$font-family-inter,$txt-color-secondary);
        }

        .arrow{
            @include size(12px,20px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.bestsellers{
    margin-top: $margin-xxl;

    .bestsellers-title{
        display: flex;
        justify-content: center;
        @include font ($font-size-l,$font-family-nanum,$txt-color-main);
        text-transform: uppercase;
    }

    .bestsellers-groups{
        padding: $padding-xl;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
       

        .bestsellers-group{
            width: 440px;
            display: flex;
            flex-direction: column;
           
            .bestsellers-img{
                @include size (440px,440px);
            }
    
            .price-wrapper{
                margin-top: $margin-l;
                display: flex;
                justify-content: space-between;

                .name{
                    @include font ($font-size-m,$font-family-nanum,$txt-color-main);
                    text-transform: uppercase;
                }
    
                .block-price{
                    display: flex;

                    .price{
                        display: flex;
                        padding: 5px;
                        margin-right: 10px;
                        @include font($font-size-m,$font-family-nanum,$txt-color-main);
                    }

                    .add-wrapper{
                        @include size (27px,27px);
                        border: 1px solid gray;

                        .add{
                            @include size (14px,14px);
                            display: flex;
                            margin: 4px;
                        }
                    }
                }
            }
        }
    }
    
    .dot{
        display: flex;
        justify-content: center;
       
        .img-dot{
            padding: 13px;
        }
    }

    .button-wrapper{
        // display: flex;
        @include wrapper (center,center);
        margin-top: $margin-xl;

        .button{
            @include size (200px,60px);
            @include font ($font-size-s,$font-family-inter,$txt-color-main);

        }
    }
}

.individual-order{
    background-image: url("../images/individual.png");
    @include size (1512px,800px);
    background-size: cover;
    margin-top: $margin-xl;
    padding: 90px 56px;

    .form-wrapper{
       

        .title{
            @include font ($font-size-l,$font-family-nanum,$txt-color-main);
            text-transform: uppercase;
        }


        .input-wrapper{
            margin-top: 30px;
            border: none;
            border-bottom: 1px solid  $bg-customers;
            width: 560px;
           
            .input{
                background: inherit;
                border: none;
                padding: 16px 0 ;
            }
        }

        .clip-wrapper{
            display: flex;
            margin-top: $margin-m ;
            align-items: center;
            padding: 14px;
            width: 191px;
            height: 48px;
            background: gray;

            .img-clip{
                @include size(14px,16px);
            }

            .text{
                color: $bg-main;
                margin:0 0 0 15px;
            }
        }
    }

    .button-wrapper{
        margin-top: $margin-xl;

        .button{
            @include size(300px,58px);
            background: inherit;
            @include font($font-size-s,$font-family-inter,$txt-color-main);
        }
    }

    .text{
       margin-top: $margin-s; 
       @include font ($font-size-xs,$font-family-inter,$txt-color-secondary); 
       width: 363px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    padding: $padding-xl;

    .about{
        display: flex;
        justify-content: space-between;

        .logo-sv{
            display: flex;
            flex-direction: column;

            .logo{
                @include font($font-size-xl,$font-family-dancing,$txt-color-main);
            }

            .sv-wrapper{
                display: flex;
                margin-top: $margin-s;

                .sv{
                    @include size(20px,20px);
                    margin-left: 18px;
                }
                .sv:first-child{
                    margin-left: 0px;
                }
            }
        }

        .information-wrapper{
            display: flex;
            flex-direction: column;
            margin-left: 200px;

            .title-inf{
                @include font($font-size-m,$font-family-inter,$txt-color-main);
                margin-bottom: 12px;
            }

            .information{
                padding: 30px 0;
                @include font($font-size-s,$font-family-inter,$txt-color-secondary);
            }
        }

        .adress-wrapper{
            display: flex;
            flex-direction: column;
            // margin-left: 200px;

            .title-adr{
                @include font($font-size-m,$font-family-inter,$txt-color-main);
                margin-bottom: 12px;
            }

            .adress{
                padding: 30px 0;
                @include font($font-size-s,$font-family-inter,$txt-color-secondary);
            }
        }

        .get-in-touch{
            display: flex;
            flex-direction: column;

            .title{
                @include font($font-size-m,$font-family-inter,$txt-color-main);
                margin-bottom: 12px;
                
            }

            .text{
                @include font($font-size-s,$font-family-inter,$txt-color-secondary);
                padding: 30px 0;
                width: 320px;
            }

            .input-wrapper{
                margin-top: 34px;
                display: flex;
                justify-content: space-between;
                border: none;
                border-bottom: 1px solid $bg-customers;
                padding: 14px 0;
               
                .input{
                    border: none;
                    background: inherit;
                }

                .img-arrow{
                    @include size(12px, 20px);
                }
                ::placeholder{
                    @include font ($font-size-xs,$font-family-nanum,$txt-color-secondary);
                }
            }
        }
    }

    .nav{
        display: flex;
        margin-top: $margin-xl;

        &-link{
            padding:0 10px ;
            @include font($font-size-s,$font-family-inter,$txt-color-main);
        }
    }

    .footer-text{
        margin-top: $margin-m;
        padding:0 10px ;
        @include font($font-size-xs,$font-family-inter,$txt-color-secondary);
    }
}