// FONT-FACE

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: "inter";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}
@font-face {
    font-family: "nanum";
    src: url("../fonts/nanum/NanumMyeongjo-Regular.ttf");
}

$font-family-nanum: "nanum";
$font-family-inter: "inter";
$font-family-dancing: 'Dancing Script', cursive;

// Font-size
$font-size-xxl : 70px ; 
$font-size-xl : 45px ; 
$font-size-l : 42px ; 
$font-size-m : 20px ; 
$font-size-s : 18px ;
$font-size-xs : 16px ;

// Paddings
$padding-xxl : 160px ;
$padding-xl : 60px ;
$padding-l : 40px ;
$padding-m : 30px ;
$padding-s : 20px ;
$padding-xs : 18px ;

// Margins
$margin-xxl : 160px ;  
$margin-xl : 60px ;
$margin-l : 40px ; 
$margin-m : 30px ; 
$margin-s : 20px ; 
$margin-xs : 18px ;

// Background 
$bg-main : #F5F5F5 ;
$bg-secondary : rgba(223, 223, 223, 1) ;
$bg-customers: #DFDFDF;

// txt-color
$txt-color-main : #2E2927 ;
$txt-color-secondary :  gray ;

// border-color
$border-color : #2E2927 ;
